# Git
.git/
.gitignore

# Docker
.dockerignore
Dockerfile

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
*.egg-info/

# Credentials & environment
credentials.json
token.json
.env

# Documentation
README.md
